@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono";
}

#navbar{
    margin: 15px 150px 15px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
}
#shishir{
    font-weight: 800;
    font-size: 30px;
}

#Download{
    font-style: normal;
     height: 54px;
    width: 200px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}